@font-face {
    font-family: 'national-park-regular';
    src: url(assets/fonts/TestNational2Condensed-Regular.otf);
}

@font-face {
    font-family: 'national-park-meduim';
    src: url(assets/fonts/TestNational2Condensed-Medium.otf);
}

@font-face {
    font-family: 'national-park-bold';
    src: url(assets/fonts/TestNational2Condensed-Bold.otf);
}

body {
    box-sizing: border-box;
    overflow: hidden;
}
html,
body {
    overflow-x: hidden;
}

p {
    margin: 0;
    padding: 0;
}

.primary-btn {
    font-family: "Inter", sans-serif;
    background-color: #FF0000;
    color: white;
    line-height: normal;
    font-weight: 800;
    border: none;
    font-size: 16px;
    padding: 0 30px;
    height: 50px;
    border-radius: 100px;
    margin-top: 15px;
}

.container-fluid {
    padding: 0 80px;
}

.slider-container {
    margin: 0 50px;
}

.slider > div {
    padding: 40px 0;
}

.slick-slide {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.slider div p {
    text-align: center !important;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'national-park-regular';
    display: block;
    width: max-content;
}

ul li a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* General Styles */
.navbar-image {
    height: 60px;
}
.navbar-image img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}
.navbar-section {
    font-family: 'national-park-regular';
    padding: 0 50px 20px 50px;
}

.navbar-section nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-section nav .home-link {
    cursor: pointer;
}
.navbar-section nav .home-link .logo {
    width: 100px;
}
.navbar-section nav ul.links {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
}

.navbar-section nav ul.links li a {
    font-size: 30px;
    font-weight: 400;
    transition: 0.5s;
    color: black !important;
}

.navbar-section nav ul.links li.active a {
    color: #FF0000 !important;
}

.navbar-section nav .nav-buttons {
    display: flex;
    gap: 80px;
    align-items: center;
}

.navbar-section nav .nav-buttons .menu-icon {
    cursor: pointer;
    display: none; /* Hide by default */
    width: 50px;
}
.navbar-section nav .nav-buttons .change-location-btn {
    font-family: "Inter", sans-serif;
    background-color: #FF0000;
    color: white;
    line-height: normal;
    font-weight: 800;
    font-size: 16px;
    border: none;
    padding: 0 30px;
    height: 60px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Mobile Navigation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #FF0000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* hero section */

.hero-section {
    font-family: "Caprasimo", serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Taake video aur content properly bounded rahein */
}

.hero-section .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero-section .video .vsc-controller {
    display: none !important;
}
.hero-section .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .home-slide-2 {
    background-image: url('./assets/images/chicken-tenders-banner.png');
}
.home-slide-3 {
    background-image: url('./assets/images/hero.png');
} */
.menu-slide-1 {
    background-image: url('./assets/images/fried-chicken-banner.png');
}
.menu-slide-2 {
    background-image: url('./assets/images/chicken-tenders-banner.png');
}
.menu-slide-3 {
    background-image: url('./assets/images/hero.png');
}

.hero-section .hero-inner-section {
    max-width: 600px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}
.hero-section .hero-inner-section img {
    max-width: 300px;
    width: 100%;
}

.hero-section .hero-inner-section :nth-child(2) {
    font-size: 130px;
    color: #FCED23;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.hero-section .hero-inner-section :nth-child(3) {
    font-size: 50px;
    color: white;
    line-height: normal;
    margin: 0;
    padding: 0;
    margin-top: -25px;
}

.search-bar-container {
    padding: 20px 80px 0 80px;
}

.search-bar-container input {
    border: 2px solid #FF0000;
    border-radius: 50px;
    width: 100%;
    height: 50px;
    padding: 20px;
}

/* popular-items-container */

.popular-items-container {
    padding: 50px 80px 50px 80px;
}

.popular-items-container .title {
    font-family: 'national-park-bold';
    font-size: 40px;
    color: #000;
    margin-bottom: 10px;
    line-height: normal;
}

.popular-items-container .sub-title {
    font-family: 'national-park-regular';
    font-size: 30px;
    color: #000;
    margin-bottom: 10px;
    line-height: normal;
}

/* Every Bite Section  */
.every-bite-section {
    margin-top: 100px;
    min-height: 590px;
    background-image: url('./assets/images/every-bite-bg.jpeg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-position-x: right;
}
.every-bite-section .content h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #ffff;
    font-weight: 600;
    line-height: normal;
}
.every-bite-section .content h1 {
    font-family: "Montserrat", sans-serif;
    color: #FEA61E;
    font-size: 83px;
    text-transform: uppercase;
    line-height: 90px;
    font-weight: 900;
}
/* Product card CSS */ 
.product-card {
    padding: 40px 20px 30px 20px;;
    transition: 0.5s;
    border-radius: 20px;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: relative;
    cursor: pointer;
}
.product-card:hover {
    border: 2px solid #FF0000;
}
.product-card .icon {
    position: absolute; 
    top: -32px; 
    right: -32px; 
    z-index: 222; 
    width: 80px;
}
.product-card .image {
    width: 100%;
    height: 320px;
    object-fit: contain;
}
.product-card .product-card-body {
    margin-top: 20px;
}
.product-card .product-card-body .product-card-title {
    font-family: national-park-bold; 
    font-size: 40px;
    line-height: normal;
    color: #000;
    margin-bottom: 10px;
}
.product-card .product-card-body .product-card-text {
    font-size: 25px; 
    color: rgb(71, 71, 71);
    line-height: normal;
    margin-bottom: 0;
    font-family: 'national-park-regular';
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.product-card .product-card-footer {
    margin-top: 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.product-card .product-card-footer p {
    font-size: 30px; 
    font-family: national-park-bold, sans-serif;
    line-height: normal;
}
.product-card .product-card-footer .btn {
    font-family: 'national-park-bold';
    background-color: #FF0000;
    color: white;
    font-weight: 800;
    font-size: 25px;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 20px;
}
/* Our menu section */
.our-menu-section {
    margin-top: 100px;
}
.our-menu-section .title {
    text-align: center;
    margin-bottom: 60px;
    font-family: 'national-park-bold';
    font-size: 80px;
    line-height: normal;
}

/* location section */

.location-section-container {
    margin: 72px 0 95px 0;
    background-color: black;
    min-height: 567px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-section-container .content {
    padding: 60px 20px 60px 80px;
}

.location-section-container .content h1 {
    font-family: "Montserrat", sans-serif;
    color: #FEA61E;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 55px;
    font-weight: 900;
    text-align: left;
    margin-bottom: 10px;
}
.location-section-container .content p {
    font-family: 'national-park-regular';
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    max-width: 380px;
    margin-bottom: 50px;
}
.location-section-container .find-location-btn {
    font-family: "Inter", sans-serif;
    background-color: #FEA61E;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    border: none;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}
.location-section-container .map-container {
    width: 100%;
    height: 680px;
    overflow: hidden;
}

/* about section */
.about-section-container h1 {
    font-family: Just Another Hand, cursive;
    font-size: 80px; 
    max-width: 700px; 
    line-height: 80px; 
    margin-bottom: 30px;
}

.about-section-container p {
    font-family: Jura, sans-serif; 
    font-size: 20px;
}

/* footer section */

.footer-section {
    font-family: 'Jura', sans-serif;
    color: white;
    width: 100%;
    margin-top: 100px;
}

.footer-section .footer-1 {
    background-color: black;
    padding: 60px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.footer-section .footer-1 ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
}

.footer-section .footer-left, 
.footer-section .footer-center, 
.footer-section .footer-right {
    flex: 1;
    min-width: 250px;
    display: flex;
    gap: 20px;
}

.footer-section .footer-menu li, 
.footer-section .footer-contact li {
    font-size: 22px;
    line-height: 1.8;
}

.footer-section .footer-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section .footer-menu a:hover {
    color: #FF0000;
}

.footer-section .footer-1 li span {
    margin-bottom: 10px;
    display: block;
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
}

.footer-section .footer-mockup {
    margin-top: -145px;
}

.footer-section .footer-mockup img {
    max-width: 370px;
    padding-left: 20px;
    width: 100%;
}

.footer-section .app-section h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: normal;
}

.footer-section .app-section p {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.footer-section .app-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-section .app-buttons img {
    max-width: 180px;
    height: auto;
    cursor: pointer;
}

.footer-section .footer-2 {
    background-color: #FF0000;
    padding: 20px 5%;
}

.footer-section .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    gap: 15px;
    font-family: "Montserrat", sans-serif;
}
.footer-section .footer-bottom p a {
    cursor: pointer;
    display: inline-flex;
}

/* Menu Page CSS */
.menu-item-section {
    margin-bottom: 100px;
}
.menu-item-section .content {
    padding: 40px 80px;
}
.menu-item-section .content .title {
    font-family: 'national-park-bold';
    font-size: 80px;
    line-height: normal;
    margin-bottom: 30px;
    text-align: center;
}
.menu-item-section .content .title span {
    color: #FF0000;
}
.menu-item-section .content .sub-title {
    font-size: 30px;
    color: rgb(71, 71, 71);
    line-height: normal;
    font-family: 'national-park-regular';
    text-align: center;
    max-width: 1028px;
    margin: 0 auto;
}
.menu-item-section .content .links-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    overflow-x: auto;
    scrollbar-color: red #fff;
    scrollbar-width: thin;
    padding-bottom: 10px;
    border: none;
    flex-wrap: nowrap;
}
.menu-item-section .content .links-nav .link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    border: none;
    font-size: 25px;
    font-family: 'national-park-regular';
    line-height: normal;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border-right: 1px solid #000 !important;
    font-weight: 600;
    padding: 0 40px;
    background-color: transparent;
    border-radius: 0;
}
.menu-item-section .content .links-nav .active {
    color: #FF0000;
}
.menu-item-section .content .links-nav .link span {
    display: block;
    width: max-content;
}
.menu-items-container {
    padding: 120px 80px 50px;
    background-image: url("./assets/images/texture-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 1670px;
}
.menu-items-container .title {
    font-size: 40px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
}
.menu-product-card {
    margin-bottom: 100px;
}
.menu-product-card .menu-product-card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu-product-card .menu-product-card-image .image {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 285px;
    object-fit: contain;
}
.menu-product-card .menu-product-card-image span {
    position: absolute;
    width: 80vw;
    height: 80vw;
    max-width: 300px;
    max-height: 300px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 0;
}
.menu-product-card .menu-product-card-body {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 30px;
}
.menu-product-card .menu-product-card-body .menu-product-card-title {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    line-height: 40px;
    color: #FCED23;
    margin-bottom: 15px;
    text-align: center;
    max-width: 70%;
    font-weight: 700;
    letter-spacing: 1px;
    min-height: 80px;
}
.menu-product-card .menu-product-card-body .menu-product-card-text {
    font-family: 'national-park-regular';
    font-size: 26px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    min-height: 64px;
}
.menu-product-card .menu-product-card-footer {
    padding: 0 30px;
}
.menu-product-card .menu-product-card-footer .menu-product-card-price {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    line-height: normal;
    color: #FCED23;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
    text-align: center;
}
.menu-product-card .menu-product-card-footer .menu-product-card-order-btn {
    font-family: "Inter", sans-serif;
    background-color: #FF0000;
    color: white;
    line-height: normal;
    font-weight: 800;
    border: none;
    font-size: 20px;
    padding: 0 30px;
    height: 55px;
    border-radius: 0;
    margin-top: 15px;
    width: calc(100% - 120px);
    margin: 0 60px;
    border-radius: 5px;
}

/* font-family: "Just Another Hand", cursive; */
/* font-family: "Jura", sans-serif; */

/* Responsive Styles */
@media screen and (min-device-width: 1200px) and (max-device-width: 1370px) { 
    .menu-product-card .menu-product-card-body {
        padding: 0;
    }
    .menu-product-card .menu-product-card-footer {
        padding: 0;
    }
    .menu-product-card .menu-product-card-footer .menu-product-card-order-btn {
        width: calc(100% - 80px);
        margin: 0 40px;
    }
}
@media (max-width: 1055px) {
    .footer-section .footer-mockup {
        margin-top: -30px;
    }
    .footer-section .footer-1 ul {
        margin: 0;
    }
    .footer-section .footer-left {
        gap: 40px;
    }
    .footer-section .footer-mockup img {
        padding-left: 0;
    }
}
@media (max-width: 992px) {
    .navbar-section {
        padding: 0 40px 40px 40px;
    }
    .navbar-section nav ul.links li a {
        font-size: 24px;
    }
    .container-fluid {
        padding: 0 40px;
    }
    .popular-items-container {
        padding: 50px 40px;
    }
    .navbar-section nav .nav-buttons .change-location-btn {
        padding: 0 20px;
        height: 50px;
    }
    .footer-section .footer-left, .footer-center, .footer-right {
        flex: 0 0 45%;
    }
    .location-section-container .content {
        padding: 70px 40px;
    }
    .menu-item-section .content {
        padding: 40px 40px;
    }
    .menu-item-section .menu-items-container {
        padding: 100px 40px 0x;
    }
    .menu-product-card .menu-product-card-body {
        padding: 0;
    }
    .menu-product-card .menu-product-card-footer {
        padding: 0;
    }
    .menu-product-card .menu-product-card-footer .menu-product-card-order-btn {
        width: calc(100% - 80px);
        margin: 0 40px;
    }
}
@media (max-width: 768px) {
    .navbar-section {
        padding: 0 20px 20px 20px;
    }

    .navbar-section nav ul.links {
        display: none; /* Hide links on mobile */
    }

    .navbar-section nav .nav-buttons .menu-icon {
        display: block; /* Show menu icon on mobile */
    }

    .navbar-section nav .nav-buttons {
        gap: 10px; /* Reduce gap between buttons on mobile */
    }

    .navbar-section nav .nav-buttons .change-location-btn {
        font-size: 14px; /* Adjust button text size */
        height: 50px;
        padding: 0 30px;
    }
    .primary-btn {
        font-size: 14px;
    }
    .navbar-section nav .nav-buttons .change-location-btn img {
        width: 20px;
    }
    .hero-section {
        padding: 40px;
        justify-content: center;
        height: 600px;
        border-end-start-radius: 30px;
        border-end-end-radius: 30px;
    }
    .hero-section .hero-inner-section img {
        max-width: 180px;
    }
    .hero-section .hero-inner-section :nth-child(2) {
        font-size: 90px;
    }
    .hero-section .hero-inner-section :nth-child(3) {
        font-size: 34px;
        margin-top: -15px;
    }
    .search-bar-container {
        padding: 0 30px 0 30px;
    }
    .popular-items-container {
        padding: 50px 30px 50px 30px;
        text-align: center;
    }
    .container-fluid {
        padding: 0 30px;
    }
    .our-menu-section .title {
        font-size: 55px;
    }
    .product-card {
        padding: 20px;
    }
    .product-card .icon {
        width: 60px;
        right: -16px;
        top: -16px;
    }
    .product-card .image {
        min-height: 200px;
        object-fit: contain;
    }
    .product-card .product-card-body .product-card-title {
        font-size: 26px;
    }
    .product-card .product-card-body .product-card-text {
        font-size: 22px;
    }
    .product-card .product-card-footer p {
        font-size: 26px;
    }
    .product-card .product-card-footer .btn {
        font-size: 16px;
        height: 40px;
        width: 80px ;
    }
    .about-section-container h1  {
        font-size: 52px;
        line-height: 57px;
        margin-bottom: 10px;
    }
    .about-section-container p {
        font-size: 20px;
    }
    .about-section-container .img-fluid {
        margin-top: 20px;
    }
    .footer-section .footer-1 {
        flex-direction: column;
        padding: 50px 20px;
    }
    .footer-section .footer-1 ul {
        padding-left: 0;
    }
    .footer-section .footer-1 > div .img-fluid {
        display: none;
    }
    .every-bite-section {
        padding: 50px 30px;
        justify-content: center;
        min-height: 400px;
    }
    .every-bite-section .content h4 {
        font-size: 50px;
        text-align: center;
    }
    .every-bite-section .content h1 {
        font-size: 60px;
        text-align: center;
        line-height: 65px;
    }
    .location-section-container {
        min-height: auto;
    }
    .location-section-container .content {
        padding: 70px 30px;
    }
    .location-section-container .content h1 {
        font-size: 34px;
        line-height: 40px;
    }
    .location-section-container .content p {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .location-section-container .map-container {
        margin-top: 30px;
        height: 400px;
    }
    .footer-section .footer-1 {
        flex-direction: column;
        gap: 30px;
    }
    
    .footer-section .footer-mockup {
        display: none;
    }
    .footer-section .footer-menu li, 
    .footer-section .footer-contact li {
        font-size: 18px;
    }
    
    .footer-section .app-section h3 {
        font-size: 22px;
    }
    
    .footer-section .app-section p {
        font-size: 16px;
    }
    
    .footer-section .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .footer-section .footer-left, .footer-center, .footer-right {
        flex-direction: column;
        gap: 30px;
    }
    .footer-section .footer-bottom {
        font-size: 16px;
    }
    .menu-item-section .content {
        padding: 40px 30px;
    }
    .menu-item-section .menu-items-container {
        padding: 100px 30px 0;
    }
    .menu-item-section .content .title {
        font-size: 55px;
        line-height: 60px;
    }
    .menu-item-section .content .sub-title {
        font-size: 24px;
    }
    .menu-item-section .content .links-nav .link {
        padding: 0 20px;
        font-size: 22px;
    }
    .menu-product-card .menu-product-card-body {
        padding: 0 20px;
    }
    .menu-product-card .menu-product-card-footer {
        padding: 0 20px;
    }
    .menu-product-card .menu-product-card-footer .menu-product-card-order-btn {
        width: calc(100% - 120px);
        margin: 0 60px;
    }
}
@media (max-width: 500px) {
    .primary-btn {
        font-size: 12px;
        height: 40px;
    }
    .navbar-section nav .logo {
        width: 65px;
    }
    .navbar-section nav .nav-buttons  .change-location-btn {
        font-size: 11px; /* Adjust button text size */
        height: 36px;
        padding: 0 20px;
    }
    .navbar-section nav .nav-buttons  .change-location-btn img {
        width: 10px;
    }
    .hero-section {
        padding: 20px;
    }
    .hero-section .hero-inner-section img {
        max-width: 180px;
    }
    .hero-section .hero-inner-section :nth-child(2) {
        font-size: 70px;
    }
    .hero-section .hero-inner-section :nth-child(3) {
        font-size: 28px;
        margin-top: -10px;
    }
    .slider-container {
        margin: 0 20px;
    }
    .search-bar-container {
        padding: 0 20px 0 20px;
    }
    .popular-items-container {
        padding: 50px 20px 50px 20px;
        text-align: center;
    }
    .container-fluid {
        padding: 0 20px;
    }
    .every-bite-section {
        min-height: 300px;
    }
    .every-bite-section .content h4 {
        font-size: 30px;
        text-align: center;
    }
    .every-bite-section .content h1 {
        font-size: 40px;
        text-align: center;
        line-height: 45px;
    }
    .location-section-container {
        min-height: auto;
    }
    .location-section-container .content {
        padding: 70px 20px 20px;
    }
    .footer-section .app-buttons img {
        max-width: 150px;
    }
    .menu-item-section .content {
        padding: 40px 20px;
    }
    .menu-item-section .menu-items-container {
        padding: 100px 20px 0;
    }
    .menu-product-card .menu-product-card-body {
        padding: 0;
    }
    .menu-product-card .menu-product-card-footer {
        padding: 0;
    }
    .menu-product-card .menu-product-card-footer .menu-product-card-order-btn {
        width: calc(100% - 80px);
        margin: 0 40px;
    }
}